.col-md-12{
    padding-bottom: 2%;
}
.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
position: absolute;
right: 8px;
top: 8px;
}

.mat-card-comment-box {
box-shadow: none;
background-color: #f5f5f5;
}